 /* paleta de colores */
 :root{
    --color-Amarillo: #EAC926;
    --color-Azul: #03264C;
    --color-Celeste: #1259c3;
    --color-Gris-oscuro: #2c2a2a5a;
    --color-Gris-claro: #96909031;
    --color-Verde: #39b54a;
    }
    /* tipografias */
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto:ital,wght@0,300;1,300&family=Tilt+Neon&display=swap');
    *{
        text-decoration: none;
        margin:0px;
        padding:0px;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        list-style: none;
    }
    /* @media (min-width: 768px){
    #logo img{
        display:flex;
        width: 150px;
        height: 70px;
        font-size: 300%;
    }
.articulo-home {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 60%;
}    
.burger-menu {
    display: none;
}
.main-home {
    display: flex;
    justify-content: space-between;
}
#compras {
    max-width: 350px;
    text-align: center;
}  

.bar-nav-derecha {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    align-items: self-end;
}
.bar-nav-izquierda {
    display: flex;
    justify-content:space-between;
    margin: 0 5px;
    align-items: self-end;
}
.articulo-home{
    margin: 10px 10px;
    size:20%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    width: 90%;
}
.articulo-home{
    margin: 10px 10px;
    size:20%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    width: 90%;
}
#precio{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#descuento {
    display: flex; 
    justify-content: flex-end;
    flex-wrap: wrap;
}
#precio{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#descuento {
    display: flex; 
    justify-content: flex-end;
    flex-wrap: wrap;
}

@media (min-width: 1024px) {
.main-home article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}    
.burger-menu {
    display: none;
}
#compras {
    max-width: 350px;
    text-align: right;
}
.bar-nav-derecha {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}
.bar-nav-izquierda ul{
    display: flex;
    margin: 0 5px;
}
} */