#header_top{
    display: flex;
    margin-left: 5px;
}
.buscador_Home{
    display: flex;
    position: relative;
}
.buscador_Home  div input{
    position: absolute;
    margin-left: 20px;
    margin-top: 31px;
}
.buscador_Home div i{
    width: 50%vw;
    margin-top: 35px;
    margin-left: -22px;
    color:var(--color-Gris-claro);
    position: absolute;
    margin-left: 178px;
}
.bar-nav-derecha{ 
    display: none;
    color:black;
    font-size: 14px;
    font-weight: bold;
    align-items:start;
}
.background-header{
    background-color:var(--color-Amarillo);
    width:100%;
}
#logo img{
    display:flex;
    width: 135px;
    height: 70px;
    font-size: 50%;
}
#compras {
    margin-right:0px ;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.bar-nav-izquierda {
    text-decoration: none;
    text-align: left;
    display: inline;
}
a{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
.bar-nav-derecha li i{
    text-decoration: none;
    text-align: left;
    font-size:12px ;
    display: inline;
    color:#000000;
}
.bar-nav-derecha p{
    text-decoration: none;
    font-size:12px ;
    display: inline;
}
.bar-nav-izquierda li i{
    text-decoration: none;
    text-align: left;
    font-size:12px ;
    color:#000000;
}
.bar-nav-izquierda p{
    text-decoration: none;
    font-size:12px ;
    text-align:left;
    font-weight: bold;
    display: inline;
}

.burger-menu {
    background-color:var(--color-Celeste);
    border-radius: 10%;
    display: inline-block;
    margin-left: 45%;
    padding: 6px 9px; 
    font-size: 30px;   
    color:white;
}
@media (min-width: 768px){
    #logo img{
        display:flex;
        flex-direction: row;
        width: 150px;
        height: 70px;
        font-size: 300%;
    }
    .buscador_Home{
        display: flex;
        position: relative;
    }
    .buscador_Home  div i{
        position: absolute;
        margin-left: 174px;
        
    }
    
    .bar-nav-derecha {
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
        align-items: self-end;
    }
    .bar-nav-izquierda {
        display: flex;
        /* justify-content:space-between; */
        margin: 0 5px;
        align-items: self-end;
    }
    .burger-menu {
        display: none;
    }
}