main{
    background-color: var(--color-Gris-claro);
    margin: 7%;
}
.form-login{
    background-color: var(--color-Gris-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-box-login{
    width: 100%;
    color:white;
    outline-color: var(--color-Gris-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7%;
}
.enviar-login{
    display: flex;
    justify-content: space-evenly;
}
.buton-login{
    color: white;
    width: 57%;
    background-color: var(--color-Celeste);
    border: white;
    margin-left: -1%;
    margin-bottom: 30%;
}