.main-login{
    background-color: var(--color-Gris-claro);
    margin: 7%;
    display: flex;
    justify-content: center;
    }
.form-login{
    background-color: var(--color-Gris-claro);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 96%;
    gap:15px;
}
label{
    margin-top: 2%;
    font-size: 12px;
    margin-left: 18%;
    display: flex;
    align-self: start;
    
}
.input-login{
    margin-left: 1%;
    height: 26px;
    text-align: center;
}
.enviar-login{
    display: flex;
    justify-content: space-evenly;
}
.boton-login{
    color: white;
    width: 50%;
    height: 24px;
    font-size: 16px;
    background-color: rgb(4 4 68);
    margin-left: 0%;
    margin-bottom: 30%;
    display: flex;
    justify-content: center;
}
.boton-login:hover{
 background-color: #0022AA;
 transition:backgraund-color 2s;
}
@media (min-width: 767px){
    .main-login{
    display: flex;
    justify-content: center;
    }
    .form-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: rgb(214 199 199);
    }
    
    .input-login {
        width: 49%;
        border-top: 2px solid rgb(31, 30, 30);
        margin-left: 1%;
        height: 33px;
        text-align: center
    }
    label{
        font-size: 15px;
        margin:2% 26%;
        
    }
    .boton-login{
        height: 29px;
        margin: 5% -1% 5% 0%;
        font-size: 20px
    }
}
@media (min-width: 1024px){
    main{display: flex;
        justify-content: center;
        }
    .form-login{
        gap:19px;
        outline-color: black;
        }
    .boton-login{
        height: 37px;
        font-size: 23px;
        width: 50%;
        margin-left: 3px;

    }
    .input-login{
        height: 42px;
        font-size: 23px;
        text-align: center;
    }
    #label-login{
        font-size: 21px;
        margin: 3% 26%
    }
}