.body {
    background-color: var(--color-Gris-oscuro);
}
.main-registro{
    background-color: var(--color-Gris-claro);
    margin: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.section-registro{
    width: 100%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
}
.form-registro{
    display: flex;
    flex-direction: column;
}
.imput-registro{
margin:5%;
}
.checkbox_registro imput{
    font-size: 10px;
}
p{
    font-size: 8px;
}
.contenedor_botone{
    display: flex;
}
.boton-registro{
    display: flex;
    align-items: start;
}
#botonEn-registro{
    display: flex;
    align-items: end;
}
@media (min-width: 767px){
    main{display: flex;
    justify-content: center;
    }
}
@media (min-width: 1024px){
    main{display: flex;
        justify-content: center;
        }
}