<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>mercado liebre</title>
   <link rel="stylesheet" href="/css/styles.css">
   <link rel="shortcut icon" type="icon-caza" href="img\caza.png">
   <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
</head>
<body class="body">
   <header class="background-header">
      <section id="header_top">
         <div id="logo"><img src=/img/logo-mercado-liebre.svg alt="mi logo"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/></div>
            <div class="buscador_Home"><div action="" class="buscador"></div>
            <div><input type="text" placeholder="Buscar producto,marca" id="search">
            <i class="fa-solid fa-magnifying-glass"></i></div>
         </form></section>
         <div id="compras" class="">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Compra en cuotas sin tarjeta de credito</p>
         </div>
         <nav class="bar-nav-derecha">
            <ul>
               <li><a href="">Oferta</a></li>
               <li><a href="">Tienda Oferta</a></li>
               <li><a href="">Vender</a></li>
               <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="bar-nav-izquierda">
               <li><a href="">Crea tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
               <li><a href="">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
               <li><a href="">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
         </nav>
         <div class="burger-menu">
            <i class="fas fa-bars"></i>
         </div>
   </header>
   <main  class="main-home">
         <div class="banner-home"><img src="/img/img-home-banner.jpg" alt="banner" width="100%"></div>
      <section class="visitas-seccion">
         <h3><b>Basado en su ultima visita</b></h3>
         <article class="articulo-home">
            <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" width="150px" height="150px">
                  <div class="detalle_articulo" >
                     <div id="camion-envio"><i class="fa-solid fa-truck" style="color: #2ba11b;"></i></div>
                        <div id="precio-descuento"><p id="precio">$6770</p>
                        <p id="descuento">40% OFF</p></div>
                        <p id="producto-name">Cafetera-Moulinex</p>
                  </div>
         </article>
         <article class="articulo-home" >
            <img src="/img/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="150px" height="150px" >
                     <div class="detalle_articulo">
                        <div id="camion-envio"><i class="fa-solid fa-truck" style="color: #2ba11b;"></i></div>
                        <div id="precio-descuento"><p id="precio">$230.000</p>
                        <p id="descuento">20% OFF</p></div>
                        <P id="producto-name">MacBook Pro 2019</P>
                     </div>
         </article>
         <article class="articulo-home">
         <img src="/img/img-samsung-galaxy-s10.jpg" alt="imagen de samsung" width="150px" height="150px">
                     <div class="detalle_articulo">
                        <div id="camion-envio"><i class="fa-solid fa-truck" style="color: #2ba11b;"></i></div>  
                        <div id="precio-descuento"><p id="precio">$70.500</p>
                        <p id="descuento">10% OFF</p></div>
                        <P id="producto-name">Samsung Galaxy S10</P>
                     </div>  
         </article>
         <article class="articulo-home">
            <img src="/img/img-tv-samsung-smart.jpg" alt="imagen de SmartTv " width="150px" height="150px">
                     <div class="detalle_articulo">
                        <div id="camion-envio"><i class="fa-solid fa-truck" style="color: #2ba11b;"></i></div>
                        <div id="precio-descuento"><p id="precio">$23.200</p>
                        <p id="descuento">5% OFF</p></div>
                        <P id="producto-name">SmartTv Samsung 43" </P>
                     </div>
         </article>  
      </section>
   <section class="visitas-seccion">
      <h3><b>Basado en su ultima visita</b></h3>
      <article class="articulo-home">
         <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" width="150px" height="150px">
               <div class="detalle_articulo" >
                  <div id="camion-envio"><i class="fa-solid fa-truck" style="color: #2ba11b;"></i></div>
                     <div id="precio-descuento"><p id="precio">$6770</p>
                     <p id="descuento">40% OFF</p></div>
                     <p id="producto-name">Cafetera-Moulinex</p>
               </div>
      </article>
      <article class="articulo-home" >
         <img src="/img/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="150px" height="150px">
                  <div class="detalle_articulo">
                     <div id="camion-envio"><i class="fa-solid fa-truck" style="color: #2ba11b;"></i></div> 
                     <div id="precio-descuento"><p id="precio">$230.000</p>
                     <p id="descuento">20% OFF</p></div>
                     <P id="producto-name">MacBook Pro 2019</P>
                  </div>
      </article>
      <article class="articulo-home">
         <img src="/img/img-samsung-galaxy-s10.jpg" alt="imagen de samsung" width="150px" height="150px">
                  <div class="detalle_articulo"> 
                     <div id="camion-envio"><i class="fa-solid fa-truck" style="color: #2ba11b;"></i> </div>
                     <div id="precio-descuento"><p id="precio">$70.500</p>
                     <p id="descuento">10% OFF</p></div>
                     <P id="producto-name">Samsung Galaxy S10</P>
                  </div>  
      </article>
      <article class="articulo-home">
         <img src="/img/img-tv-samsung-smart.jpg" alt="imagen de SmartTv " width="150px" height="150px" >
                  <div class="detalle_articulo">
                     <div id="camion-envio"><i class="fa-solid fa-truck" style="color: #2ba11b;"></i></div> 
                     <div id="precio-descuento"><p id="precio">$23.200</p>
                     <p id="descuento">5% OFF</p></div>
                     <P id="producto-name">SmartTv Samsung 43" </P>
                  </div>
      </article>  
      </section>
      </main>
      <footer class="footer-home">
               <div>
               <i class="fa-solid fa-credit-card"></i>
               <h4><b>Pagá con tarjeta o en efectivo</b></h4>
               <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en<br>puntos de pago. ¡Y siempre es
                  seguro!</p>
         </div>
         <div>
            <i class="fa-solid fa-gift"></i>
            <h4><b>Envío gratis desde $ 2.500</b></h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de<br>productos. Es un beneficio de
               Mercado Puntos.</p>
         </div>
         <div>
            <i class="fa-solid fa-user-shield"></i>
            <h4><b>Seguridad, de principio a fin</b></h3>
               <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br>porque estás siempre
                  protegid@.</p>
         </div>
         <div id="Copyright">
            <h5><b>Copyright © 1999-2023 MercadoLiebre S.R.L.</b></h3>
         </div>
      </footer>
</body>

</html>