<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>mercado liebre</title>
   <link rel="stylesheet" href="../public/css/styles.css">
   <link rel="shortcut icon" type="icon-caza" href="img\caza.png">
   <script src="https://kit.fontawesome.com/ec7737c18b.js" crossorigin="anonymous"></script>
</head>
<body class="body">
   <header class="background-header">
      <section id="header_top">
         <div id="logo"><img src="/img/logo-mercado-liebre.svg" alt="mi logo">
      </div>
            <div class="buscador_Home"><div action="" class="buscador"></div>
            <form id="search"><input type="text" placeholder="Buscar producto,marca" id="search">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
         </form ></div></section>
         <div id="compras" class="">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Compra en cuotas sin tarjeta de credito</p>
         </div>
         <nav class="bar-nav">
            <ul class="bar-nar-derecha">
               <li><a href="">Oferta</a></li>
               <li><a href="">Tienda Oferta</a></li>
               <li><a href="">Vender</a></li>
               <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="bar-nav-izquierda">
               <li><a href="./login.html">Crea tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
               <li><a href="registre.html">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
               <li><a href="">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
         </nav>
         <div class="burger-menu">
            <i class="fas fa-bars"></i>
         </div>
   </header>
         <main>
            <form class="form-login" action="" method="post">
               <input type="text" name="Usuario" placeholder="Nombre de usuario" required>
               <input type="password" name="password" placeholder="contraseña" required>
               <button class="boton-login" type="submit" formaction="home.html">Enviar</button>
            </form>
         </main>
            <footer class="footer-home">
               <div>
               <i class="fa-solid fa-credit-card"></i>
            <h4><b>Pagá con tarjeta o en efectivo</b></h4>
               <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en<br>puntos de pago. ¡Y siempre es
            seguro!</p>
            </div>
            <div>
            <i class="fa-solid fa-gift"></i>
            <h4><b>Envío gratis desde $ 2.500</b></h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de<br>productos. Es un beneficio de
               Mercado Puntos.</p>
            </div>
            <div>
            <i class="fa-solid fa-user-shield"></i>
            <h4><b>Seguridad, de principio a fin</b></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br>porque estás siempre
            protegid@.</p>
            </div>
            <div id="Copyright">
            <h5><b>Copyright © 1999-2023 MercadoLiebre S.R.L.</b></h3>
            </div>
    </footer>
</body>
</html>    
        
