<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="shortcut icon" type="icon-caza" href="img\caza.png">
        <script src="https://kit.fontawesome.com/ec7737c18b.js"
            crossorigin="anonymous"></script>
    </head>
    <body class="body">
        <header class="background-header">
            <section id="header_top">
                <div id="logo"><img src=/img/logo-mercado-liebre.svg
                        alt="mi logo">
                </div>
                <div class="buscador_Home"><div action class="buscador"></div>
                    <form id="buscador"><input type="text" placeholder="Buscar producto,marca"
                            id="search">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </section>
            <div id="compras" class>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Compra en cuotas sin tarjeta de credito</p>
            </div>
            <nav class="bar-nav">
                <ul class="bar-nar-derecha">
                    <li><a href>Oferta</a></li>
                    <li><a href>Tienda Oferta</a></li>
                    <li><a href>Vender</a></li>
                    <li><a href>Ayuda</a></li>
                </ul>
                <ul class="bar-nav-izquierda">
                    <li><a href>Crea tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href>Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href>Mis compras<i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <main class="main-registre">
            <fieldset  class="fieldset-registro"> 
            <form action="/registro" method="post">
                <div class="info-box">
                    <label for="NombyAp"></label>
                    <input type="text" placeholder="Nombre y apellido"
                        name="NombyAp" id="NombyAp" disabled>
                </div>
                <div class="info-box">
                    <label for="nombreU"></label>
                    <input type="text" placeholder="Nombre de usuario" name="nombreU" id="nombreU" disabled>
                </div>
                <div class="info-box">
                    <label for="email"></label>
                    <input type="email" placeholder="E-mail"name="email" id="email" disabled>
                </div>
                    <h4>Fecha de nacimiento</h4>
                        <div class="info-box">
                            <input type="date" name="calendario" value="mm/dd/yyyy">
                            </div>
                        <div class="info-box">
                                <label for="Domicilio"></label>
                                <input type="text"placeholder="Domicilio" name="Domicilio" id="Domicilio" disabled>
                            </div>
                    <h4>Perfil de usuario</h4>
                            <section class="checkbox_registro">
                                <div class="selecione-checkbox">
                                <label for><input type="radio"> Comprador</label>
                                <label for><input type="radio"> Vendedor</label>
                                </div>
                    <h4>Intereses</h4>
                                        <label for>
                                            <input type="checkbox" name="Electro">
                                            Electro
                                        </label>
                                        <label for>
                                            <input type="checkbox" name="Moda">
                                            Moda
                                        </label>
                                        <label for>
                                            <input type="checkbox" name="Hogar">
                                            Hogar
                                        </label>
                                        <label for>
                                            <input type="checkbox" name="Jugueteria">
                                            Jugueteria
                                        </label>
                                        <label for>
                                            <input type="checkbox" name="Vida sana">
                                            Vida sana
                                        </label>
                                        <div class="img">
                                            <input type="image" name="imagen" id="imagen">
                                        <div class="info-box">
                                            <label for="pasword"></label>
                                            <input type="password" placeholder="Contraseña"name="password" id="password" disabled>
                                        </div>
                                        <div>
                                        <label for="Confimar contraseña">
                                            <inpu type="password" placeholder="Confimar contraseña" name="Confimar contraseña" id="Confimar"disabled>
                                            </div>
                                        </label>
                                    </section>
                                    <div class="contenor_botones">
                                        <button type="reset">Borrar</button>
                                        <button type="submit" href="/view/home.html">Enviar</button>
                                    </div>
                                </form>
                            </fieldset>    
                            <footer class="footer-home">
                                <div>
                                <i class="fa-solid fa-credit-card"></i>
                                <h4><b>Pagá con tarjeta o en efectivo</b></h4>
                                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en<br>puntos de pago. ¡Y siempre es
                            seguro!</p>
                            </div>
                            <div>
                            <i class="fa-solid fa-gift"></i>
                            <h4><b>Envío gratis desde $ 2.500</b></h4>
                            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de<br>productos. Es un beneficio de
                                Mercado Puntos.</p>
                            </div>
                            <div>
                            <i class="fa-solid fa-user-shield"></i>
                            <h4><b>Seguridad, de principio a fin</b></h3>
                            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br>porque estás siempre
                            protegid@.</p>
                            </div>
                            <div id="Copyright">
                            <h5><b>Copyright © 1999-2023 MercadoLiebre S.R.L.</b></h3>
                            </div>
                    </footer>
            </main>
    </body>
</html>